test/7.c: In function ‘int main()’:
test/7.c:4:5: error: expected ‘,’ or ‘;’ before ‘a’
     a = b + 10 / 2 ^ 3 ^ 2 ^ 3; // pay attention to operation priority
     ^
test/7.c:15:1: error: expected ‘;’ before ‘}’ token
 }
 ^